html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../assets/purple-to-blue-bg.jpg) no-repeat center center fixed;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
}
.image-preload {
  display: none;
}
#loading-icon {
  background-color: #2A2826;
  position: fixed;
  top: 0;
  z-index: 4;
}
.recommend {
  overflow-y: scroll;
  height: 100%;
  list-style: none;
}
#loading-icon video {
  position: fixed;
}
#loading-text {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 200%;
}

// .album-art{
// 	background-size: 500px 500px;
// }
.container {
  text-align: center;
}
.subtitle {
  color: gray;
}
#holder {
  padding: 20px;
  border: 1px dotted black;
}
.grid li {
  list-style: none;
}
.grid {

  // margin-left: 60px;
}
.defined-edges .blur {

  // width: 248px;
  // height: 248px;
  transform: scaleX(-1);
  -webkit-filter: blur(10px) brightness(0.8);
  margin: -20px;
}
.song-title {
  font-weight: 100;
  overflow-y: scroll;
  height: 250px;
  width: 250px;
  color: white;
  width: 95%;

  // line-height: 25px;
  padding: 10px 5px;
  text-align: center;
  font-size: 90%;
  display: inline;
  position: absolute;
  z-index: 2;
}
.song-title a {
  word-spacing: 4px;
  text-shadow: 1px 1px 10px black;
}
.song {
  display: inline-block;
  margin-top: 8px;
  height: 17px;
  cursor: pointer;
  -webkit-user-select: text;
}
.sidebar {
  color: #F0F3F3;
  box-shadow: inset 7px 0 19px -8px #000000;
  width: 400px;
  height: 100%;
  background-color: #2A2826;
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  transition: 450ms;
}
.recommend-item {
  border-bottom: 1px solid #4E4E4E;
  margin-bottom: 10px;
  width: 345px;
  overflow-x: scroll;
}
.recommend-item img {
  margin-right: 10px;
}
.album-text {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 95%;
  color: #292929;
  font-weight: 400;
  -webkit-user-select: text;
}
.back .album-text {
  margin-top: 5px;
}
.artist-text {
  margin: 3px auto;
  text-align: center;
  font-size: 75%;
  font-weight: bold;
  -webkit-user-select: text;
}
.sidebar-headers {
  text-align: center;
}
.reccomendations {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}
.grid-container {
  margin-bottom: 100px;
  margin-left: 50px;
}
.defined-edges {
  overflow: hidden;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
}
.hide-sidebar {
  width: 0;
  transition: 450ms;
}
@body-with-sidebar-width: calc(~'100% - 400px');
#main-window {
  width: 100%;
}
.sidebar-open {
  transition: 450ms;
  float: left;
  width: @body-with-sidebar-width !important;
}
.sidebar-closed {
  width: 100%;
  transition: 450ms;
}
.flip-container {
  width: 260px;
  height: 290px;
  position: relative;
  margin: 10px auto;
  z-index: 0;
  -webkit-user-select: none;
}
.flip-container {
  perspective: 1000;
}
.flipper {
  width: 260px;
  height: 290px;
  transform-style: preserve-3d;
  transition: all 400ms linear;
}
.flip-container:hover .flipper {
  transition-delay: 250ms;
  transform: rotateY(180deg);
  box-shadow: 0 0 0 transparent;
}
.face {
  position: absolute;
  border-radius: 10px 10px 4px 4px;
  background-color: #f0f0f0;
  background-image: url(../assets/handmadepaper.png);
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 10px;
  width: 100% !important;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transition-delay: 100ms;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
}
.album-art,
.defined-edges {
  border-radius: 4px 4px 0 0;
}
.front,
.back {
  box-shadow: 0 1px 15px #636363;
}
